<suite name="Web Suite" parallel="tests" thread-count="2">
    <test name="Chrome Tests">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="org.muhasebe.Hesaplama">
                <methods>
                    <include name="CustomerTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Firefox test">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="org.muhasebe.Hesaplama">
                <methods>
                    <include name="CustomerTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>